* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf2ff;
}

.result_summery_card {
  width: 736px;
  height: 512px;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
}

.result_side {
  width: 100%;
  background: linear-gradient(#7755ff, #6943ff, #2f2ce9);
  border-radius: 32px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result_side > h1 {
  font-size: 24px;
  color: #cac9ff;
  text-align: center;
}

.result_card_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#4d21c9, #2521c900, #2521c900);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.result_card_circle > h1 {
  font-size: 72px;
  color: #ffffff;
}

.result_card_circle > h3 {
  color: #cac9ff;
  font-size: 18px;
}
.summery_side {
  width: 100%;
  background-color: #ffffff;
  border-radius: 32px;
}

.bottom_side {
  text-align: center;
  margin-top: 40px;
}

.bottom_side > h1 {
  font-size: 32px;
  color: #ffffff;
}

.bottom_side > p {
  color: #cac9ff;
}

.box_item {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: #ff5555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
}

.summery_side {
  padding: 30px;
}

button {
  color: white;
  background-color: #303b59;
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 128px;
  cursor: pointer;
  margin-top: 20px;
}
